@import url("../App.css");

.boards--container {
  height: 100vh;
  max-width: 300px;
  min-width: 250px;
  background-color: var(--pure-white);
}

.logo {
  height: 5%;
}
.main-content {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


