@import url("../App.css");

.boards--container {
  height: 100vh;
  max-width: 300px;
  min-width: 250px;
  background-color: var(--pure-white);
}

.logo {
  height: 5%;
}
.main-content {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 2rem; */
}

.boards-list {
  display: flex;
  flex-direction: column;
}

.boards-count {
  padding: 2rem;
}

.font-heading-m {
  color: var(--pure-white);
  transition: 0.3s;
}

.list-element:hover {
  background-color: var(--secondary-light-violet);
}

.board-image {
  color: black;
}

.board-image:hover {
  color: #828fa3;
}

.list-element {
  width: 276px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-blue-violet);
  padding: 20px;
  gap: 20px;
}

.create-element {
  display: flex;
  justify-content: start;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
}

.create-new-board {
  color: var(--primary-blue-violet);
  background-color: var(--pure-white);
}


.board-image1 path {
  fill: var(--primary-blue-violet);
}
